img {
  display: block;
  margin: auto;
  width: 10%;
  margin-bottom: 25px;
}

span {
  font-size: 25px;
}

body {
  background-color: sandybrown;
  text-align: center;
}

button {
  display: block;
  margin: auto;
  height: 30px;
  font-weight: bold;
}

textarea {
    margin-top: 25px;
    margin-bottom: 25px;
    resize: none;
    height: 60px;
    width: 300px;
}

.devourButton {
  margin-left: 5px;
  height: 30px;
  display: inline;
}

.burgerLine {
  border: 1px solid black;
}

#addburger {
  clear: both;
}

#leftburger, #rightburger {
  width: 40%;
}

#devour {
  width: 20%;
  float: left;
}

#leftburger {
  background-color: white;
    float: left;
}

#rightburger {
  float: right;
  clear: right;
}
